*,
* > *,
* button {
  box-sizing: border-box; }

body {
  align-items: center;
  background-color: #f5f5f5;
  display: flex;
  font-family: sans-serif;
  justify-content: center;
  min-height: 100vh;
  padding-bottom: 200px; }

.page-title {
  color: #ea42ad;
  font-size: 64px;
  letter-spacing: 4px;
  margin: 0; }
  .page-title > svg {
    display: inline-block;
    height: 96px;
    vertical-align: bottom;
    width: 96px; }

.page-description {
  margin-bottom: 40px; }

form {
  display: inline-block;
  flex-shrink: 0;
  text-align: center; }
  form > div {
    display: inline-block;
    margin-bottom: 10px;
    position: relative; }
    form > div > * {
      display: inline-block;
      vertical-align: top; }
  form label {
    color: rgba(0, 0, 0, 0.65);
    display: block;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 2px;
    margin-left: 4px;
    text-align: left;
    text-transform: uppercase; }
  form input {
    background: #fff;
    border-radius: 3px;
    border: 1px solid #ebebeb;
    color: rgba(0, 0, 0, 0.65);
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    line-height: 36px;
    margin: 0;
    outline: none;
    padding: 0 12px;
    text-align: center;
    width: 180px; }
    form input::-webkit-input-placeholder {
      font-weight: normal; }
    form input:-moz-placeholder {
      font-weight: normal; }
    form input::-moz-placeholder {
      font-weight: normal; }
    form input:-ms-input-placeholder {
      font-weight: normal; }
    form input:focus {
      border-color: #ea42ad; }

.ca11y {
  display: inline-block;
  height: 36px;
  position: relative;
  text-align: center; }

.ca11y__header {
  color: #ea42ad;
  left: 0;
  letter-spacing: 4px;
  line-height: 1;
  margin: 0;
  padding: 8px 8px 4px 8px;
  position: absolute;
  text-align: left;
  top: 0; }

.ca11y__month-display {
  display: block;
  font-size: 32px;
  margin-bottom: 4px;
  text-transform: uppercase; }

.ca11y__year-display {
  margin-left: 2px; }

.ca11y__day-names th {
  color: #bfbfbf;
  font-size: 10px;
  font-weight: normal;
  height: 30px;
  width: 30px; }

.ca11y__toggle {
  background-color: white;
  border-radius: 3px;
  border: 1px solid #ebebeb;
  font-size: 16px;
  height: 38px;
  margin: 0;
  outline: none;
  padding: 0 8px; }
  .ca11y__toggle:hover, .ca11y__toggle:focus {
    color: #ea42ad; }
  .ca11y__toggle:focus {
    border-color: #ea42ad; }
  .ca11y__toggle > svg {
    display: block;
    height: 24px;
    width: 24px; }

.ca11y__nav {
  background-color: #ebebeb;
  border-radius: 100px;
  border: none;
  bottom: 12px;
  color: inherit;
  display: block;
  font-weight: bold;
  height: 24px;
  margin: 0;
  outline: none;
  padding: 4px;
  position: absolute;
  transition: all .2s ease-in-out;
  width: 24px; }
  .ca11y__nav svg {
    display: block;
    height: 100%;
    width: 100%; }
  .ca11y__nav:hover, .ca11y__nav:focus {
    background-color: #ea42ad;
    color: #fff; }
  .ca11y__nav.-next {
    left: 40px; }
  .ca11y__nav.-prev {
    left: 8px; }

.ca11y__picker {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #ebebeb;
  box-shadow: 2px 4px 0px rgba(0, 0, 0, 0.02);
  color: rgba(0, 0, 0, 0.65);
  font-size: 11px;
  font-weight: bold;
  margin-top: 16px;
  min-height: 240px;
  overflow: hidden;
  padding: 8px 8px 8px 90px;
  position: absolute;
  right: 0;
  top: 100%;
  transition: all .2s ease-in-out;
  z-index: 1; }
  .ca11y__picker[aria-hidden="true"] {
    opacity: 0;
    transform-origin: 100% 0%;
    transform: translate3d(24px, -64px, 0) scale(0.5);
    visibility: hidden; }
  .ca11y__picker:hover .ca11y__day:hover, .ca11y__picker:hover .ca11y__day:hover:focus {
    background-color: rgba(234, 66, 173, 0.5); }
  .ca11y__picker:hover .ca11y__day:focus {
    background-color: transparent;
    color: inherit; }

.ca11y__table {
  border-collapse: collapse;
  border-spacing: 0; }

.ca11y__row:last-child .ca11y__cell {
  border-bottom: none; }

.ca11y__cell {
  padding: 0;
  position: relative; }
  .ca11y__cell:first-child {
    border-left: none; }
  .ca11y__cell:last-child {
    border-right: none; }

.ca11y__day {
  appearance: none;
  background: transparent;
  border-radius: 32px;
  border: 2px solid transparent;
  color: inherit;
  display: block;
  font-size: 11px;
  font-weight: bold;
  height: 32px;
  outline: none;
  transition: all .2s ease-in-out;
  width: 32px; }
  .ca11y__day.-today {
    color: #ea42ad; }
  .ca11y__day.-selected {
    background-color: #ea42ad;
    color: #fff; }
  .ca11y__day:hover {
    background-color: rgba(234, 66, 173, 0.5); }
  .ca11y__day:focus {
    border-color: rgba(234, 66, 173, 0.5); }
